<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="{{refresh}}">
    <title>GBot dashboard</title>
    <style>
        table, th, td { border: 1px solid black; border-collapse: collapse; }
        .currency { color: black; }
        .cash { color: blue; }
        .base { color: black; }
    </style>
</head>
<body>
    <h2>Pairs</h2>
    <table>
        <tr><th></th>{{#each pairs}}<th><strong>{{pair}}</strong></th>{{/each}}</tr>
        <tr><td><strong>Price</strong></td>{{#each pairs}}<td><div class="currency">{{cash price}}</div></td>{{/each}}</tr>
        <tr><td><strong>Updated</strong></td>{{#each pairs}}<td>{{ts}}</td>{{/each}}</tr>
    </table>

    <h2>My trades</h2>
    <table>
        <tr><th><strong>Ts</strong></th><th><strong>Trade</strong></th><th><strong>Pnl</strong></th></tr>{{#each trades}}
        <tr><td>{{ts}}</td><td>{{trade}}</td><td>{{pnl}}</td></tr>{{/each}}
    </table>

    <br></br>
    *My PNL: {{cash pnl}}
    <br></br>
    *My pubkey: {{myPubkey}}
    <br></br>
    *Monitored pubkey: {{monitoredPubkey}}
    <br></br>
    *Trader chain spec: {{traderChainSpec}}
    <br></br>
    *Listener chain spec: {{listenerChainSpec}}
    <br></br>
    *Snapshot {{snapshotCnt}}, blockedToOpen: {{blockedToOpen}}
    <br></br>
    *Health  check {{healthCheck}}
    <br></br>
    *Timestamped @ {{now}}, refreshed every {{refresh}}s
</body>
</html>
