<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="{{refresh}}">
    <title>GBot dashboard</title>
    <style>
        table, th, td { border: 1px solid black; border-collapse: collapse; }
        .currency { color: black; }
        .cash { color: blue; }
        .base { color: black; }
    </style>
</head>
<body>
    <h2>Symbols</h2>
    <table>
        <tr><th></th>{{#each symbol}}<th><strong>{{symbol}}</strong></th>{{/each}}</tr>
        <tr><td><strong>Mark</strong></td>{{#each symbols}}<td><div class="currency">{{cash price}}</div></td>{{/each}}</tr>
        <tr><td><strong>Updated</strong></td>{{#each symbols}}<td>{{priceTs}}</td>{{/each}}</tr>
        <tr><td><strong>Cash</strong></td>{{#each symbols}}<td><div class="cash">{{cash positionCash}}</div></td>{{/each}}</tr>
    </table>

    <h2>Trades</h2>
    <table>
        <tr><th><strong>Ts</strong></th><th><strong>Trade</strong></th></tr>{{#each trades}}
        <tr><td>{{ts}}</td><td>{{trade}}</td></tr>{{/each}}
    </table>

    <br></br>
    *PNL: {{cash pnl}}
    <br></br>
    *Network: {{network}}
    <br></br>
    *Timestamped @ {{now}}, refreshed every {{refresh}}s
</body>
</html>
